In [1]:
import requests 
import pandas as pd

api_key = '' # inser your TMDB API key
movie_id = 278

In [4]:
# get data using movie id and API key
def tmdb_movie_data():
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&language=en-US'.format(movie_id, api_key))
    data = response.json()
    print(data)

tmdb_movie_data()

{'adult': False, 'backdrop_path': '/9Xw0I5RV2ZqNLpul6lXKoviYg55.jpg', 'belongs_to_collection': None, 'budget': 25000000, 'genres': [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}], 'homepage': '', 'id': 278, 'imdb_id': 'tt0111161', 'original_language': 'en', 'original_title': 'The Shawshank Redemption', 'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.', 'popularity': 56.917, 'poster_path': '/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg', 'production_companies': [{'id': 97, 'logo_path': '/7znWcbDd4PcJzJUlJxYqAlPPykp.png', 'name': 'Castle Rock Entertainment', 'origin_country': 'US'}], 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}], 'release_date': '1994-09-23', 'revenue': 28341469, 'runtime': 142, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': 'Fear can hold you prisoner. Hope can set you free.', 'title': 'The Shawshank Redemption', 'video': False, 'vote_average': 8.7, 'vote_count': 19594}

In [5]:
# to get the list of genres
response = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key={}&language=en-US'.format(api_key))
data = response.json()
print(data)

{'genres': [{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}, {'id': 99, 'name': 'Documentary'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 14, 'name': 'Fantasy'}, {'id': 36, 'name': 'History'}, {'id': 27, 'name': 'Horror'}, {'id': 10402, 'name': 'Music'}, {'id': 9648, 'name': 'Mystery'}, {'id': 10749, 'name': 'Romance'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 10770, 'name': 'TV Movie'}, {'id': 53, 'name': 'Thriller'}, {'id': 10752, 'name': 'War'}, {'id': 37, 'name': 'Western'}]}

In [9]:
#To get top rated movies list using API: 
pg_no = 1
movie_ids = [] # create epty list to store all the top-rated movie ids

response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(api_key, pg_no))
data = response.json()
print(data.keys())
print(data['total_results']) # total no of movies
last_page = data["total_pages"] #total no of pages

for each in data['results']:
    movie_ids.append(each['id'])

# iterate through all the pages and collect the movies id

for pg_no in range(2, last_page+1):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key={}&language=en-US&page={}'.format(api_key, pg_no))
    data = response.json()
    for each in data['results']:
        movie_ids.append(each['id'])

dict_keys(['page', 'results', 'total_pages', 'total_results'])
9067

In [10]:
print(len(movie_ids))

9067

In [11]:
df = pd.DataFrame(movie_ids)
df.head()

        0
0   19404
1     278
2     238
3  283566
4  724089

In [12]:
df.to_excel("C:/Users/v-msingarava/Desktop/tmdb_movies_list.xlsx")

In [3]:
movie_df = pd.read_excel("C:/Users/v-msingarava/Desktop/tmdb_movies_list.xlsx")
movie_ids = movie_df["Movie Id"].to_list()
print(movie_ids[799])

28580

In [4]:
movie_data = []

#Extract the movie data based on the ids collected

for each_id in movie_ids:
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&language=en-US'.format(each_id, api_key))
    data = response.json()
    movie_data.append(data)

print(movie_data[-1])

{'adult': False, 'backdrop_path': '/wDrs28ZYYnXVIeb87H0dCYlWiFA.jpg', 'belongs_to_collection': {'id': 225961, 'name': 'Birdemic Collection', 'poster_path': '/x3MZmE83eHBsLfNZZn68Ua2NAKB.jpg', 'backdrop_path': '/zr8q5nGsLf6yjL9yKPZhgYRYc63.jpg'}, 'budget': 0, 'genres': [{'id': 878, 'name': 'Science Fiction'}, {'id': 27, 'name': 'Horror'}], 'homepage': 'http://www.birdemic.com/', 'id': 40016, 'imdb_id': 'tt1316037', 'original_language': 'en', 'original_title': 'Birdemic: Shock and Terror', 'overview': "A platoon of eagles and vultures attacks the residents of a small town. Many people die. It's not known what caused the flying menace to attack. Two people manage to fight back, but will they survive Birdemic?", 'popularity': 8.234, 'poster_path': '/lNC2Alq5CIIuPp1Bv0Y8hPHXZlP.jpg', 'production_companies': [{'id': 23390, 'logo_path': None, 'name': 'Moviehead Pictures', 'origin_country': ''}], 'production_countries': [{'iso_3166_1': 'US', 'name': 'United States of America'}], 'release_date': '2010-02-27', 'revenue': 0, 'runtime': 95, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}], 'status': 'Released', 'tagline': 'Why did the eagles and vultures attack?', 'title': 'Birdemic: Shock and Terror', 'video': False, 'vote_average': 2.2, 'vote_count': 229}

In [5]:
df = pd.DataFrame(movie_data)
df.to_excel("C:/Users/v-msingarava/Desktop/tmdb_movie_data.xlsx")